body {
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    animation: svg .5s linear backwards;
}

@keyframes svg {
    from {
        opacity: 0;
        transform: scale(.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    animation: preloader 1s linear backwards;
    animation-delay: 1.8s;
    background-color: #fff;
}

@keyframes logo {
    from {
        opacity: 0;
        transform: translateY(25px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

#wleft,
#wlefts {
    animation: wingsleft 1s ease-in-out backwards;
    transform-origin: right;
}

#wright,
#wrights {
    animation: wingsright 1s ease-in-out backwards;
    transform-origin: left;
}

@keyframes wingsleft {
    0% {
        transform: rotate(13deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes wingsright {
    0% {
        transform: rotate(-13deg);
    }

    50% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes preloader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#text {
    animation: logo .5s linear backwards;
    animation-delay: 1s;
}