body {
    background-color: #fff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    background-color: #333;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
}

.st0 {
    fill: #8CC63F;
}

.st1 {
    fill: #F15A24;
}

.st2 {
    fill: #C1272D;
}

.st3 {
    fill: #065E0E;
}

.st4 {
    fill: #aaa;
}

.st5 {
    fill: #9E0B0B;
}

.st6 {
    stroke: #070707;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.panel_item {
    transition: opacity .3s linear;
}

.panel_item:nth-child(1) {
    animation: panel .25s linear backwards;
}

.panel_item:nth-child(2) {
    animation: panel .25s linear backwards;
    animation-delay: .25s;
}

.panel_item:nth-child(3) {
    animation: panel .25s linear backwards;
    animation-delay: .5s;
}

.panel_item:nth-child(4) {
    animation: panel .25s linear backwards;
    animation-delay: .75s;
}

.panel_item:nth-child(5) {
    animation: panel .25s linear backwards;
    animation-delay: 1s;
}

.panel_item:nth-child(6) {
    animation: panel .25s linear backwards;
    animation-delay: 1.25s;
}

.panel_item:nth-child(7) {
    animation: panel .25s linear backwards;
    animation-delay: 1.5s;
}

@keyframes panel {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes logo {
    from {
        opacity: 0;
    }

    to {
        opacity: .9;
    }
}

@keyframes preloader {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#text {
    animation: logo .6s ease-in backwards;
    animation-delay: 2s;
}

#line {
    animation: line linear backwards;
    animation-duration: 2s;
    animation-delay: 2.5s;
}

.preloader {
    opacity: 1;
    animation: preloader 1s linear;
    animation-delay: 3s;
}